@import '../../styles/mediaQueries';


.header{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 0.5em 1.3em;

    div{
        display: flex;
    align-items: center;
    }

    img{
        width: 3em;
        height: 3em;
        margin-right: 1em;
    }

    h1{
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    }

    @include screen(xl) {
        width: 80vw;
        justify-content: flex-end;
        padding: 0.5em 4em;
      }

    button{
        margin-left: 1em;
        filter: invert(1);
        cursor: pointer;

        
    }
}