@import '../../styles/mediaQueries';


.message {
  background-color: #da0037d8;
  margin: 2em 0;
  word-wrap: break-word;
  padding: 0.5em;
  border-radius: 1em;
  max-width: 73%;
  transition: 0.2s;

  &:hover{
    filter: opacity(0.8);
  }

  @include screen(xl){
    max-width: 43%;
  }

  .info {
    display: flex;
    align-items: flex-end;

    img {
      width: 2.5em;
      height: 2.5em;
      border-radius: 9999px;
      margin-right: 0.7em;
    }
  }

  .msg {
    display: flex;
    flex-flow: column wrap;

    small{
        font-weight: 700;
        font-size: 1.1rem;
    }

    span{
        font-weight: 400;
    }
  }

  .text {
    p {
      margin-top: 1em;
      margin-right: 6%;
      padding: 0.3em;
    }
  }
}
