@import "../../styles/mediaQueries";

.messages {
  margin-bottom: 5em;
  overflow: auto;
  overflow-x: hidden;
  height: 80%;
  padding: 1em 2em;
  border-radius: 0.7em;
  margin: 1em;
}

.form {
  input {
    border-radius: 5em;
    background-color: #da0037;
    border: none;
    outline: none;
    margin: 1em;
    width: 65%;
    padding: 1em 2em;
    font-size: 1rem;
    transition: 0.2s;

    &:hover,
    &:focus {
      filter: brightness(90%);
      cursor: no-drop;
    }

    ::placeholder {
    }

    @include screen(xl) {
      margin-left: 3.6%;
      width: 80%;
    }
  }

  button {
    background-color: #da0037;
    padding: 1em;
    border-radius: 9999px;
    transition: 0.2s;
    cursor: pointer;

    img {
      margin-right: 0.4em;
    }

    &:disabled {
      cursor: not-allowed;
    }

    &:hover {
      filter: brightness(90%);
    }
  }
}
