@import "../../styles/mediaQueries";

.signMethods {
  width: 20vw;
  height: 100vh;
  
  display: none;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;

  @include screen(xl) {
    display: flex;
  }

  button {
    color: #e3e3e3;
    font-size: 1.1em;
    border-radius: 0.3em;
    padding: 0.7em 1.3em;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;

    p {
      margin-left: 1em;
    }

    &:hover {
      -webkit-filter: brightness(85%);
    }
  }

  button {
    background-image: radial-gradient(
      circle farthest-corner at 1.3% 2.8%,
      #af1b3f 0%,
      #8f1433 100.2%
    );
    margin-top: 25%;
  }

  a {
    color: #e3e3e3;
    font-size: 1.1em;
    padding: 0.7em 1.3em;
    border-radius: 0.3em;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    margin: 1em 0;

    p {
      margin-left: 1em;
    }

    &:hover {
      -webkit-filter: brightness(85%);
    }
  }

  footer {
      color: #eeeeee;
    display: flex;
    align-items: flex-start;
    font-weight: 700;
    cursor: default;
    margin-top: 8em;

    span{
        margin: 0 0.2em;
    }
  }
}
